<h1><div align="center" style="color: blue;"><strong>Python Programming Lab. [Batch-B3]</strong></div></h1>

---

## **Assignment Submission Details** 

| **Field** | **Details** |
|-----------|-------------|
| **Student Name** | Varadraj Rajendra Velhal |
| **Course Name** | Python Programming Lab. (MCA31PC06) |
| **Academic Year** | 2025-26 (Semester-1) |
| **Course Teacher** | Prof. Prakash Ukhalkar |
| **Assignment Name** | Database handling|
| **Assignment Number** | Assignment 14|



**1.Write a Python program to create a table and insert some records in that table.
Finally selects all rows from the table and display the records
.**

In [1]:
import sqlite3

# connect to database (creates file if not exists)
conn = sqlite3.connect("student.db")
cursor = conn.cursor()

# create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Student (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

# insert records
cursor.execute("INSERT INTO Student (name, age) VALUES ('Varadraj', 22)")
cursor.execute("INSERT INTO Student (name, age) VALUES ('Rahul', 21)")
cursor.execute("INSERT INTO Student (name, age) VALUES ('Amit', 23)")

conn.commit()

# select and display records
cursor.execute("SELECT * FROM Student")
rows = cursor.fetchall()

print("Student Records:")
for row in rows:
    print(row)

# close connection
conn.close()

Student Records:
(1, 'Varadraj', 22)
(2, 'Rahul', 21)
(3, 'Amit', 23)



**2.Write a Python program to update a specific column value of a given table and
select all rows before and after updating the said table.**

In [2]:
import sqlite3

# connect to database
conn = sqlite3.connect("student.db")
cursor = conn.cursor()

# create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Student (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

# insert records (only once, safe for exams)
cursor.execute("INSERT INTO Student (name, age) VALUES ('Varadraj', 22)")
cursor.execute("INSERT INTO Student (name, age) VALUES ('Rahul', 21)")
conn.commit()

# display records BEFORE update
print("Records before update:")
cursor.execute("SELECT * FROM Student")
rows = cursor.fetchall()
for row in rows:
    print(row)

# update age of Rahul
cursor.execute("UPDATE Student SET age = 23 WHERE name = 'Rahul'")
conn.commit()

# display records AFTER update
print("\nRecords after update:")
cursor.execute("SELECT * FROM Student")
rows = cursor.fetchall()
for row in rows:
    print(row)

# close connection
conn.close()

Records before update:
(1, 'Varadraj', 22)
(2, 'Rahul', 21)
(3, 'Amit', 23)
(4, 'Varadraj', 22)
(5, 'Rahul', 21)

Records after update:
(1, 'Varadraj', 22)
(2, 'Rahul', 23)
(3, 'Amit', 23)
(4, 'Varadraj', 22)
(5, 'Rahul', 23)



**3.Write a Python program to delete a specific row from a given table.**

In [3]:
import sqlite3

# connect to database
conn = sqlite3.connect("student.db")
cursor = conn.cursor()

# create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Student (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

# insert sample records
cursor.execute("INSERT INTO Student (name, age) VALUES ('Varadraj', 22)")
cursor.execute("INSERT INTO Student (name, age) VALUES ('Rahul', 21)")
conn.commit()

# display records BEFORE delete
print("Records before delete:")
cursor.execute("SELECT * FROM Student")
for row in cursor.fetchall():
    print(row)

# delete record where name is Rahul
cursor.execute("DELETE FROM Student WHERE name = 'Rahul'")
conn.commit()

# display records AFTER delete
print("\nRecords after delete:")
cursor.execute("SELECT * FROM Student")
for row in cursor.fetchall():
    print(row)

# close connection
conn.close()

Records before delete:
(1, 'Varadraj', 22)
(2, 'Rahul', 23)
(3, 'Amit', 23)
(4, 'Varadraj', 22)
(5, 'Rahul', 23)
(6, 'Varadraj', 22)
(7, 'Rahul', 21)

Records after delete:
(1, 'Varadraj', 22)
(3, 'Amit', 23)
(4, 'Varadraj', 22)
(6, 'Varadraj', 22)



**4.Write a Python program to alter a given table.**

In [4]:
import sqlite3

# connect to database
conn = sqlite3.connect("student.db")
cursor = conn.cursor()

# create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Student (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

# alter table: add new column
cursor.execute("ALTER TABLE Student ADD COLUMN grade TEXT")

conn.commit()

print("Table altered successfully. New column 'grade' added.")

# display table data
cursor.execute("SELECT * FROM Student")
rows = cursor.fetchall()

print("Student Records:")
for row in rows:
    print(row)

# close connection
conn.close()

Table altered successfully. New column 'grade' added.
Student Records:
(1, 'Varadraj', 22, None)
(3, 'Amit', 23, None)
(4, 'Varadraj', 22, None)
(6, 'Varadraj', 22, None)



**5.Write  a Python program to update all the values of a specific column of a given
table.**

In [5]:
import sqlite3

# connect to database
conn = sqlite3.connect("student.db")
cursor = conn.cursor()

# create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Student (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

# insert sample records
cursor.execute("INSERT INTO Student (name, age) VALUES ('Varadraj', 22)")
cursor.execute("INSERT INTO Student (name, age) VALUES ('Rahul', 21)")
cursor.execute("INSERT INTO Student (name, age) VALUES ('Amit', 23)")
conn.commit()

# display records BEFORE update
print("Records before update:")
cursor.execute("SELECT * FROM Student")
for row in cursor.fetchall():
    print(row)

# update ALL values of age column
cursor.execute("UPDATE Student SET age = 25")
conn.commit()

# display records AFTER update
print("\nRecords after update:")
cursor.execute("SELECT * FROM Student")
for row in cursor.fetchall():
    print(row)

# close connection
conn.close()

Records before update:
(1, 'Varadraj', 22, None)
(3, 'Amit', 23, None)
(4, 'Varadraj', 22, None)
(6, 'Varadraj', 22, None)
(7, 'Varadraj', 22, None)
(8, 'Rahul', 21, None)
(9, 'Amit', 23, None)

Records after update:
(1, 'Varadraj', 25, None)
(3, 'Amit', 25, None)
(4, 'Varadraj', 25, None)
(6, 'Varadraj', 25, None)
(7, 'Varadraj', 25, None)
(8, 'Rahul', 25, None)
(9, 'Amit', 25, None)


**6.Write Python code to:
a. Connect to a MySQL database using the mysql.connector library.
b. Execute a SQL query to retrieve all customer names and emails.
c. Insert a new row into the "customers" table.
d. Update an existing customer's email address**

In [2]:
import sqlite3

# connect to database
conn = sqlite3.connect("customers.db")
cursor = conn.cursor()

# create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    email TEXT
)
""")

# insert a new row
cursor.execute("INSERT INTO customers (name, email) VALUES (?, ?)",
               ("Varadraj", "varadraj@gmail.com"))
conn.commit()

# update email
cursor.execute("UPDATE customers SET email = ? WHERE name = ?",
               ("varadraj_new@gmail.com", "Varadraj"))
conn.commit()

# retrieve all customer names and emails
cursor.execute("SELECT name, email FROM customers")
rows = cursor.fetchall()

print("Customer Records:")
for row in rows:
    print(row)

conn.close()

Customer Records:
('Varadraj', 'varadraj_new@gmail.com')


**7.Write a Python program that connects to a MySQL database and fetches and
prints the version of the MySQL server.**

In [2]:
# Question 7:

import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910"
)

cursor = conn.cursor()

# fetch MySQL version
cursor.execute("SELECT VERSION()")
version = cursor.fetchone()

print("MySQL Server Version:", version[0])

conn.close()

MySQL Server Version: 8.0.43



**8.Create a program that establishes a connection to a MySQL database and lists all
the databases available on the server..**

In [3]:
# Question 8: 

import mysql.connector

# connect to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910"
)

cursor = conn.cursor()

# list all databases
cursor.execute("SHOW DATABASES")

print("Databases available on the server:")
for db in cursor.fetchall():
    print(db[0])

conn.close()

Databases available on the server:
college
information_schema
mysql
performance_schema
sakila
sys
world



**9.Write a Python program that connects to a MySQL database, creates a table
named employees with columns for id, name, and salary, and inserts a few
records into the table.**

In [5]:
# Question 9:
import mysql.connector

# connect to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    salary INT
)
""")

# insert records
cursor.execute("INSERT INTO employees (name, salary) VALUES (%s, %s)", ("Amit", 30000))
cursor.execute("INSERT INTO employees (name, salary) VALUES (%s, %s)", ("Rahul", 35000))
cursor.execute("INSERT INTO employees (name, salary) VALUES (%s, %s)", ("Varadraj", 40000))

conn.commit()

print("Employees table created and records inserted successfully")

conn.close()

Employees table created and records inserted successfully



**10.Create a program that connects to a MySQL database, queries the employees
table, and prints the names and salaries of employees**

In [6]:
# Question 10:



import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# query employees table
cursor.execute("SELECT name, salary FROM employees")

print("Employee Details:")
for row in cursor.fetchall():
    print("Name:", row[0], "| Salary:", row[1])

conn.close()

Employee Details:
Name: Rohit | Salary: 58000
Name: Rohit | Salary: 58000
Name: Rohit | Salary: 58000
Name: Tejas | Salary: 48000
Name: Vicky | Salary: 52000
Name: Gopal | Salary: 47000
Name: Harshu | Salary: 42000
Name: Harsha | Salary: 46000
Name: Sudhir | Salary: 48000
Name: Amit | Salary: 30000
Name: Rahul | Salary: 35000
Name: Varadraj | Salary: 40000