<h1><div align="center" style="color: blue;"><strong>Python Programming Lab. [Batch-B3]</strong></div></h1>

---

## **Assignment Submission Details** 

| **Field** | **Details** |
|-----------|-------------|
| **Student Name** | Varadraj Rajendra Velhal |
| **Course Name** | Python Programming Lab. (MCA31PC06) |
| **Academic Year** | 2025-26 (Semester-1) |
| **Course Teacher** | Prof. Prakash Ukhalkar |
| **Assignment Name** | Database handling|
| **Assignment Number** | Assignment 15|



**1.Write a Python program that connects to a MySQL database, updates the salary of
an employee in the employees table, and then queries and prints the updated
record**

In [1]:
# Question 1: 
import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# update salary of an employee
update_query = "UPDATE employees SET salary = %s WHERE name = %s"
cursor.execute(update_query, (45000, "Varadraj"))
conn.commit()

# fetch and display updated record
cursor.execute("SELECT name, salary FROM employees WHERE name = 'Varadraj'")
record = cursor.fetchone()

print("Updated Employee Record:")
print("Name:", record[0])
print("Salary:", record[1])

conn.close()

Updated Employee Record:
Name: Varadraj
Salary: 45000



**2.Create a program that connects to a MySQL database, deletes a specific employee
record from the employees table, and then queries and prints the remaining
records.**

In [2]:
# Question 2:  
import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# delete a specific employee (example: Varadraj)
delete_query = "DELETE FROM employees WHERE name = %s"
cursor.execute(delete_query, ("Varadraj",))
conn.commit()

print("Employee record deleted\n")

# fetch and display remaining records
cursor.execute("SELECT name, salary FROM employees")

print("Remaining Employees:")
for row in cursor.fetchall():
    print("Name:", row[0], "| Salary:", row[1])

conn.close()

Employee record deleted

Remaining Employees:
Name: Rohit | Salary: 58000
Name: Rohit | Salary: 58000
Name: Rohit | Salary: 58000
Name: Tejas | Salary: 48000
Name: Vicky | Salary: 52000
Name: Gopal | Salary: 47000
Name: Harshu | Salary: 42000
Name: Harsha | Salary: 46000
Name: Sudhir | Salary: 48000
Name: Amit | Salary: 30000
Name: Rahul | Salary: 35000



**3.Write a Python program that demonstrates the use of transactions. Connect to a
MySQL database, start a transaction, insert multiple records into a table, and
commit the transaction.**

In [5]:
# Question 3:

import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

try:
    # start transaction
    conn.start_transaction()

    # insert multiple records
    cursor.execute(
        "INSERT INTO employees (name, salary) VALUES (%s, %s)",
        ("Amit", 30000)
    )
    cursor.execute(
        "INSERT INTO employees (name, salary) VALUES (%s, %s)",
        ("Rahul", 35000)
    )
    cursor.execute(
        "INSERT INTO employees (name, salary) VALUES (%s, %s)",
        ("Varadraj", 40000)
    )

    # commit transaction
    conn.commit()
    print("Transaction committed successfully")

except Exception as e:
    # rollback if any error occurs
    conn.rollback()
    print("Transaction failed, rollback done")

conn.close()

Transaction committed successfully



**4.Create a program that connects to a MySQL database, starts a transaction, updates
the salary of an employee, but rolls back the transaction if an error occurs during
the update.**

In [6]:
# Question 4: 
import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

try:
    # start transaction
    conn.start_transaction()

    # update employee salary
    update_query = "UPDATE employees SET salary = %s WHERE name = %s"
    cursor.execute(update_query, (50000, "Varadraj"))

    # commit if successful
    conn.commit()
    print("Transaction committed successfully")

except Exception as e:
    # rollback if error occurs
    conn.rollback()
    print("Error occurred, transaction rolled back")

conn.close()

Transaction committed successfully



**5.Write a Python program that connects to a MySQL database, queries a table
containing student grades, and calculates and prints the average grade..**

In [9]:
import mysql.connector

try:
    # Connect to MySQL database
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="2910",
        database="college"
    )

    cursor = conn.cursor()

    # Query grades
    cursor.execute("SELECT grade FROM students")

    grades = cursor.fetchall()

    total = 0
    count = 0

    # Calculate the sum and count, skipping None values
    for g in grades:
        if g[0] is not None:  # Check if the grade is not None
            try:
                total += float(g[0])  # Ensure grade is treated as a number
                count += 1
            except ValueError:
                print(f"Invalid grade value: {g[0]}")

    if count > 0:
        average = total / count
        print("Average Grade:", average)
    else:
        print("No records found")

except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    # Clean up
    if cursor:
        cursor.close()
    if conn:
        conn.close()

Average Grade: 80.0


**6.Create a program that connects to a MySQL database, queries a table containing
customer orders, and prints the total revenue for a specific product**

In [10]:
# Question 6:

import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# product name whose revenue we want
product_name = "Laptop"

# query total revenue
query = """
SELECT SUM(quantity * price)
FROM orders
WHERE product_name = %s
"""

cursor.execute(query, (product_name,))
result = cursor.fetchone()

if result[0] is not None:
    print("Total revenue for", product_name, "is:", result[0])
else:
    print("No orders found for", product_name)

conn.close()

Total revenue for Laptop is: 150000


**7.Write a Python program that connects to a MySQL database and uses a prepared
statement to insert multiple records into a table.**

In [11]:
# Question 7:
import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# prepared statement
sql = "INSERT INTO employees (name, salary) VALUES (%s, %s)"

# multiple records
records = [
    ("Amit", 30000),
    ("Rahul", 35000),
    ("Varadraj", 40000)
]

# execute prepared statement for multiple records
cursor.executemany(sql, records)

conn.commit()

print("Multiple records inserted successfully")

conn.close()

Multiple records inserted successfully



**8.Create a program that connects to a MySQL database, uses a prepared statement
to update the salary of an employee, and then queries and prints the updated
record..**

In [12]:
# Question 8: 

import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# prepared statement to update salary
update_sql = "UPDATE employees SET salary = %s WHERE name = %s"
cursor.execute(update_sql, (55000, "Varadraj"))
conn.commit()

# prepared statement to fetch updated record
select_sql = "SELECT name, salary FROM employees WHERE name = %s"
cursor.execute(select_sql, ("Varadraj",))

record = cursor.fetchone()

print("Updated Employee Record:")
print("Name:", record[0])
print("Salary:", record[1])

conn.close()

Updated Employee Record:
Name: Varadraj
Salary: 55000



**9.Write a Python program that connects to a MySQL database, creates two tables
named students and courses, establishes a relationship between them, and inserts
sample data**

In [13]:
# Question 9:

import mysql.connector

# connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="2910",
    database="college"
)

cursor = conn.cursor()

# create students table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50)
)
""")

# create courses table with foreign key
cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(50),
    student_id INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
)
""")

# insert sample students
cursor.execute("INSERT INTO students (name) VALUES (%s)", ("Varadraj",))
cursor.execute("INSERT INTO students (name) VALUES (%s)", ("Rahul",))

# insert sample courses
cursor.execute(
    "INSERT INTO courses (course_name, student_id) VALUES (%s, %s)",
    ("Python", 1)
)
cursor.execute(
    "INSERT INTO courses (course_name, student_id) VALUES (%s, %s)",
    ("Database Systems", 2)
)

conn.commit()

print("Tables created and sample data inserted successfully")

conn.close()

Tables created and sample data inserted successfully



**10. Create a program that connects to a MySQL database, performs a JOIN operation
on the students and courses tables, and prints the names of students along with the
courses they are enrolled in**

In [15]:
import mysql.connector

try:
    # Connect to MySQL database
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="2910",
        database="college"
    )

    cursor = conn.cursor()

    # JOIN query
    query = """
    SELECT students.name, courses.course_name
    FROM students
    JOIN courses
    ON students.id = courses.student_id  -- Adjusted column names
    """

    cursor.execute(query)

    print("Student Enrollments:")
    # Fetch and print results
    for row in cursor.fetchall():
        print("Student:", row[0], "| Course:", row[1])

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Clean up
    if cursor:
        cursor.close()
    if conn:
        conn.close()

Student Enrollments:
Student: Dilip | Course: Python
Student: Harsh | Course: Java
Student: Dilip | Course: Python
Student: Harsh | Course: Database Systems